.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kakao-login-btn {
  display: inline-block;
  background-color: #f7e600; /* 카카오 로고 색상 */
  color: #000; /* 텍스트 색상 */
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* 버튼에 마우스를 올렸을 때의 스타일 */
.kakao-login-btn:hover {
  background-color: #ffd43b; /* 마우스 오버 시의 배경 색상 */
}

/* 버튼을 클릭했을 때의 스타일 */
.kakao-login-btn:active {
  background-color: #d4bb00; /* 클릭 시의 배경 색상 */
}
